

<ion-view title="HRV">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-b" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
  <ion-content class="has-header">
    <div id="hrvWindow"></div>
  </ion-content>
</ion-view>

<script id="hrv-settings.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">HRV Settings</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>
