<ion-nav-buttons side="right">
    <button class="button button-icon icon ion-gear-b" ng-click="popover.show($event)"></button>
</ion-nav-buttons>

<ion-view title="Myometer">
  <ion-content class="has-header">
    <div id="myometerWindow"></div>
  </ion-content>
</ion-view>

<script id="myometer-settings.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">Myometer Settings</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>