<ion-view title="Settings">
  <ion-content class="has-header padding">
    <h1>Account</h1>
      <!--<span ng-bind="flexvolt|json"></span>-->
      <p>IsConnected: <span ng-bind="flexvolt.isConnected|json"></span></p>
      
    <button ng-click="readAll()">get data!</button>
    <button ng-click="poll()">poll version</button>
    <button ng-click="flexvolt.updateSettings()">Update Settings</button>
    <br><br>
    <button ng-click="flexvolt.turnDataOn()">Data ON</button>
    <button ng-click="flexvolt.turnDataOff()">Data OFF</button>
    <br><br>
    <button ng-click="getData()">get actual data</button>
    <div id="plotWindow"></div>
  </ion-content>
</ion-view>
