<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Start Tab -->
  <ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Plot Tab -->
  <ion-tab title="Plot" icon="icon ion-ios-pulse-strong" href="#/tab/plot">
    <ion-nav-view name="tab-plot"></ion-nav-view>
  </ion-tab>
  
  <!-- Game Tab -->
  <ion-tab title="Game" icon="icon ion-ios-navigate" href="#/tab/game">
    <ion-nav-view name="tab-game"></ion-nav-view>
  </ion-tab>


  <!-- Settings Tab -->
  <ion-tab title="Settings" icon="icon ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
